.cart-item-padding {
  padding: 30px;
}
.cart-item-padding2 {
  padding: 30px;
}
.cart-item-padding3 {
  padding: 30px;
}
.cart-item-padding4 {
  padding: 30px;
}
.cart-item-padding1 {
  padding: 30px;
}
.cart-item-padding5 {
  padding: 30px;
}
