.slider-icon {
  width: 45px;
  height: 45px;
}
.slider-icon2 {
  width: 45px;
  height: 45px;
}

.carousel-text2 {
  max-width: 700px;
}
.carousel-item-heigth1,
.carousel-item-heigth2 {
  height: 500px;
}
.carousel-text1 {
  max-width: 700px;
}
